@charset "UTF-8";
/*Colores*/
/*Tamaño fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Roboto*/
/*Playfair display*/
.texto-hero {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  font-weight: 900;
  color: #FFF;
}

.titulo-p {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  color: #D1D1D1;
}

.texto-p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #D1D1D1;
  line-height: 1rem;
  color: #6C6E70;
}

.titulo-carta {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 900;
  color: #121619;
}

.texto-carta {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ECBCBA;
  line-height: 2rem;
}

.textoLi {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.miNavBar {
  background-color: #121619;
  color: #FFF;
}

.navbar-logo {
  padding: 15px;
  width: 120px;
  height: 70px;
}

/*Nav Mobile*/
.navbar-brand {
  margin-left: 15px;
}

.navbar-toggler {
  margin-right: 15px;
  background-color: white;
}

li {
  text-align: center;
  padding: 20px;
}

.miHero {
  background: url(/assets/img/post-image.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

/*Hero Moblie*/
.miHero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heroTexto {
  width: 90%;
  text-align: center;
}

.miFooter {
  background-color: #121619;
  text-align: center;
}

.imgFooter {
  margin: 70px;
  width: 120px;
  height: 50px;
}

.card-img-top {
  width: 250px;
  height: 250px;
}

/* Card Mobile*/
.miCarta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  border: none;
}

.card-img-top {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  border-radius: 150px;
  width: 150px;
  height: 150px;
}

.card-body h1 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.card-body {
  text-align: center;
  margin-bottom: 25px;
}
/*# sourceMappingURL=style.css.map */